{% extends 'SteveFrontendBundle::layout.html.twig' %}

{% block title %}SteVeFui - SteVe Frontend User Interface - Chargebox-Details{% endblock %}
{% block page %}Chargebox-Details{% endblock %}

{% block body %}

  	<div class="page-header">
        <h1><a href="./main">Ladestation</a> - {{ chargebox.chargeboxid }}</h1>
        <!-- {{ chargebox.lastheartbeattimestamp|date('d.m.Y')  }} - {{ chargebox.chargeboxserialnumber }} -->
      </div>
<div class="panel panel-default">
  <!-- Default panel contents -->
   <!--<div class="panel-heading">Panel heading
  
  </div>-->
  <table class="table">
      <thead>
        <tr>
          <th>Anschluss</th>
			<th>RFID</th>
			<th>Status</th>
			<th>Ladevorgang gestartet</th>
          	<th>Ladevorgang beendet</th>
          	<th>Ladevorgang</th>
        </tr>
      </thead>
      <tbody id="list-chargebox">
      		{% include ('SteveFrontendBundle:Ajax:listchargebox.html.twig') %}
        </tbody>
</table>  
</div>
{% endblock %}