{% extends 'SteveFrontendBundle::layout.html.twig' %}

{% block title %}SteVeFui - SteVe Frontend User Interface - Ladekarten{% endblock %}
{% block page %}Ladekarten{% endblock %}

{% block body %}

  	<div class="page-header">
        <h1><a href="./main">Ladekarten</a> </h1>
      </div>
<div class="panel panel-default">  
  <table class="table">
      <thead>
        <tr>           
			<th>Ladekarten</th>			
          	<th>Übergeordnete Ladekarte</th>
          	<th>Karte</th>
        </tr>
      </thead>
      <tbody id="list-users">  
     	{% include ('SteveFrontendBundle:Ajax:listuser.html.twig') %}
       </tbody>
</table>       
</div>

<nav class="navbar navbar-default">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<div class="nav navbar-form  navbar-left">
    	<div class="input-group">
	      <input type="text" class="form-control" placeholder="Ladekarte" id="add-user" />
	      <input type="text" id="top-user" style="display: none;" />
	    </div><!-- /input-group -->
	   </div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" id="top-list" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Übergeordnete Ladekarte<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          	 {% for item in users %} 
          	<li><a href="#" class="set-top-user" data-action="set-top-user"  data-idtag="{{ item.idTag }}">{{ item.idTag }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>      
      <div class="nav navbar-form  navbar-right">
	    <div class="input-group">
	      <span class="input-group-btn">
	        <button class="btn btn-default user" type="button" data-object="user" data-action="add">hinzufügen</button>
	      </span>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
    </div><!-- /.navbar-collapse -->  
</nav>    
{% endblock %}